<div>Hetkel aktiivne linn: {{linn}}</div>

<button [class.aktiivne-linn]="linn==='Tallinn'" (click)="linn = 'Tallinn'">Tallinn</button>
<button [class.aktiivne-linn]="linn==='Tartu'" (click)="linn = 'Tartu'">Tartu</button>
<button [class.aktiivne-linn]="linn==='Narva'" (click)="linn = 'Narva'">Narva</button>
<button [class.aktiivne-linn]="linn==='Pärnu'" (click)="linn = 'Pärnu'">Pärnu</button>

@if (linn === "Tallinn") {
  @for (esindus of tallinnaKeskused; track $index) {
    <div>{{esindus.keskus}}</div>
    <button routerLink="/esindus/{{esindus.keskus}}">Vt kontaktandmeid</button>
  }
}

@if (linn === "Tartu") {
  <div>Lõunakeskus</div>
  <div>Raatuse</div>
}

@if (linn === "Narva") {
  <div>Fama</div>
}

@if (linn === "Pärnu") {
  <div>Port Artur 2</div>
}
