<label>Hind</label> <br>
<input [(ngModel)]="hind.number" type="number"> <br>
<label>Hind sõnana</label> <br>
<input [(ngModel)]="hind.sonana" type="text"> <br>
<button (click)="lisa()">Lisa</button>
<br><br>

<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>Hind</th>
      <th>Hind sõnana</th>
      <th>Kustuta</th>
      <th>Muuda</th>
    </tr>
  </thead>
  <tbody>
    @for (hind of hinnad; track $index) {
      <tr>
        <td>{{$index}}</td>
        <td>{{hind.number}}</td>
        <td>{{hind.sonana}}</td>
        <td><button (click)="kustuta($index)">x</button></td>
        <td><button routerLink="/muuda-hind/{{$index}}">Muuda</button></td>
      </tr>
    }
  </tbody>
</table>