<button (click)="reset()">Reset</button>
<br>
<button (click)="sorteeriAZ()">Sorteeri A-Z</button>
<button (click)="sorteeriZA()">Sorteeri Z-A</button>
<button (click)="sorteeriTahedKasv()">Sorteeri tähed kasvavalt</button>
<button (click)="sorteeriTahedKah()">Sorteeri tähed kahanevalt</button>
<button (click)="sorteeriKolmasTahtAZ()">Sorteeri kolmas täht A-Z</button>
<br><br>
<button (click)="filtreeriIgaLoppevad()">Jäta alles i'ga lõppevad</button>
<button (click)="filtreeri7Tahelised()">Jäta alles täpselt 7 tähelised</button>
<button (click)="filtreeriKuni7Tahelised()">Jäta alles kuni 7 tähelised</button>
<button (click)="filtreeriKellelLyhendAr()">Jäta alles kellel on lühend 'ar'</button>
<button (click)="filtreeriTeineTahtE()">Jäta alles kellel teine täht on 'e'</button>
<br><br>

<div>Autode koguarv: {{autod.length}} tk</div>

<label>Otsi</label>
<input [(ngModel)]="otsitavaAutoNimi" (ngModelChange)="otsi()" type="text">

@for (auto of autod; track $index) {
  <div>{{auto.nimi}} - {{auto.hind}} €</div>
  <button (click)="lisaOstukorvi(auto)">Lisa ostukorvi</button>
  <button routerLink="/auto/{{auto.nimi}}">Vt lähemalt</button>
  <!-- <button [routerLink]="['/auto', auto.nimi]">Vt lähemalt</button> -->
}