<button (click)="summa = 20">20€</button>
<button (click)="summa = 50">50€</button>
<button (click)="summa = 100">100€</button>
<div>Kinkekaart {{summa}} €</div>

<br/><br/>

<button    [disabled]="kogus === 1"      (click)="kogus = kogus - 1"      >-</button>
<span>{{kogus}}</span>
<button (click)="kogus = kogus + 1">+</button>

<br/><br/>

<div>{{summa * kogus}}</div>

<br /><br />

<label>Email</label> <br />
<input [(ngModel)]="email" type="text">  <br />
<button (click)="sisesta()">Sisesta</button> <br />