<label>Ülalpeetavad</label>
<select [(ngModel)]="ylalpeetavad" (ngModelChange)="uuendaLimiit()">
  <option>0</option>
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select> <br/>
<label>Netosissetulek</label>
<input [(ngModel)]="netosissetulek" (ngModelChange)="uuendaLimiit()" type="text"><br/>
<label>Kohustused</label>
<input [(ngModel)]="kohustused" (ngModelChange)="uuendaLimiit()" type="text"><br/>

<div>Maksimaalne pakutav limiit</div>
<div>{{limiit}} €</div>