<table>
    <thead>
        <tr>
            <th>Index</th>
            <th>Id</th>
            <th>Title</th>
            <th>Price</th>
            <th>Description</th>
            <th>Category</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @for (product of products; track $index) {
            <tr>
                <td>{{$index}}</td>
                <td>{{product.id}}</td>
                <td>{{product.title}}</td>
                <td>{{product.price}}</td>
                <td>{{product.description}}</td>
                <td>{{product.category.name}}</td>
                <td><img class="image" src={{product.images}}></td>
            </tr>
        }
    </tbody>
</table>