.pilt {
  width: 100px;
  height: 100px;
}

.pilt:hover {
  cursor: pointer;
  opacity: 70%;
}

.pilt:active {
  transform: scale(90%);
}

.nupp {
  background-color: brown;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.nupp:hover {
  background-color: darkred;
  cursor: pointer;
}

.nupp:active {
  text-decoration: underline;
}